<div class="ss-collection-skeleton">
  <!-- Skeleton Product Grid -->
  <div class="ss-skeleton-grid">
    {% for i in (1..8) %}
      <div class="ss-skeleton-card"></div>
    {% endfor %}
  </div>
</div>
