.country-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    position: relative
}

.country-selector_selected-country {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: 0.8rem;
}

.country-selector_selected-country button {
    text-transform: unset;
    text-decoration: underline;
    display: flex;
    align-items: center;
    column-gap: .25rem
}

.country-selector_selected-country p {
    margin-bottom: 0
}

.country-selector_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(223, 222, 220, .5019607843);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in-out;
    z-index: 3;
}

.country-selector_modal .h5 {
    color: black;
}

.country-selector_modal.active {
    opacity: 1;
    pointer-events: all
}

.country-selector_modal--content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1.5rem;
    max-width: 45rem;
    padding: 3rem 3rem;
    background-color: white;
    color: black;
}

@media (min-width: 1024px) {
    .country-selector_modal--content {
        max-width: 28rem;
        margin: 0 .5rem
    }
}

.country-selector_modal--content img {
    width: 44px;
    height: 46px;
    margin-bottom: -0.5rem
}

.country-selector_modal--content label {
    display: block;
    height: 0;
    opacity: 0
}

.country-selector_modal--content select {
    position: relative;
    appearance: none;
    width: 100%;
    height: 3rem;
    border: 1px solid #DFDEDC;
    border-radius: 8px;
    background-color: white;
    padding: 0 16px;
    background: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"8\" viewBox=\"0 0 12 8\" fill=\"none\"><path d=\"M2 2L6 6L10 2\" stroke=\"%23111111\" stroke-width=\"1.5\" stroke-linecap=\"square\"/></svg>") no-repeat;
    background-size: 12px;
    background-position: right 16px center
}

.country-selector_modal--content select option {
    font-weight: normal;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap
}

.country-selector_modal--content button {
    width: 100%
}

.country-selector_modal--close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 1rem;
    width: 1rem
}

.country-selector_modal--close svg {
    height: 1rem;
    width: 1rem
}

.country-selector_modal--inputs {
    width: 100%
}

@media all and (min-width: 769px) {
    .country-selector {

        margin-bottom: 0;
    }
}
